<%- include("./partials/header") %>
<div class="row">
    <div class="col-lg-6 thumbnail one ">
        <h1 class="text-center">For organisations</h1>
            <p id="about1"> We provide a platform for organisations to sign up volunteers through our website!<br> <br>Organisations need to sign up and post their ads explaining the details of the work which includes <br> <br>-Time spent per week <br> -Stipend(if applicable) <br> -Age requirements etc.
            <br>
            <br>
            *Please post appropriate content
            <br>
            <br>
            Inapporpriate/ uneccessary posts will be taken down
            <br>
            Good Luck!
            </p>
            </h1>
                </p>
                </div>
                <div class="col-lg-1">

                </div>
                <div class="col-lg-5 thumbnail two">
                    <h1 class="text-center">For Volunteers</h1>
                    <p id="about1">It is really simple ! Just leave your Email Address or Phone number in the comment sections and the organisation will reach out to you!
                        <br>
                        <br>
                        We also provide users the ability to post ads if they need any help and require volunteers.
                        <br>
                        <br>
                        The moderators of the website have admin privileges and will delete any uneccessary posts
                        <br> 
                        <br>
                        
                        Please avoid posting uneccessary content.
                        <br>
                        <br>
                        Happy Volunteering !

                    </p>
                    </div>
                   
    </div>
</div>
</div>
<div class="fx text-center"> Made By team f(x)</div>

</div>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>