<%- include("./partials/header") %>
<div class="row">
    <div class="col-lg-6 thumbnail one ">
        <h1 class="text-center">For organisations</h1>
            <p id="about1"> Education, Environment , how it helps us the community etc etc.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec purus a urna rutrum auctor. Fusce et ex quis dui ultricies aliquet. Curabitur congue quam ut arcu tincidunt, nec suscipit leo eleifend. Donec a justo sed massa congue vestibulum. Maecenas vel ligula faucibus, mollis ipsum luctus, mollis nibh. Nulla facilisi. Curabitur sit amet elit leo.

                Curabitur efficitur, ligula eget ultricies ornare, dui urna mollis purus, ut fermentum nisl metus id est. Praesent mauris quam, facilisis ac felis a, consectetur posuere enim. Donec leo est, tincidunt non massa quis, pulvinar congue elit. Sed nibh magna, euismod a nisl ac, condimentum pharetra ipsum. Quisque condimentum elit est, vehicula mollis augue pulvinar in. Nunc congue commodo magna, at laoreet augue bibendum eget. Donec vel odio lectus. Morbi mattis est efficitur justo vehicula ultrices.
                
                Aliquam erat volutpat. Duis sed risus tellus. Nulla vitae mauris sed nisl volutpat fermentum. Nulla eget consectetur ligula. Proin vitae urna nec risus viverra dignissim nec at lorem. Fusce orci velit, lacinia eu viverra sit amet, bibendum in mauris. Sed aliquet risus neque, at elementum est ultrices ullamcorper. Quisque porttitor ex tellus, a pulvinar justo pretium ac. Aenean non aliquam tellus. Suspendisse scelerisque pulvinar turpis viverra ornare. Phasellus ullamcorper dui leo, lacinia lobortis purus laoreet non. Cras suscipit cursus elit vel ultrices. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas condimentum, sapien nec ultrices interdum, velit nibh commodo est, at facilisis eros sapien ullamcorper enim.
            </h1>
                </p>
                </div>
                <div class="col-lg-1">

                </div>
                <div class="col-lg-5 thumbnail two">
                    <h1 class="text-center">For Volunteers</h1>
                    <p id="about1">It is really simple ! Just leave your Email Address or Phone number in the comment sections and the organisitation will reach out to you!
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec purus a urna rutrum auctor. Fusce et ex quis dui ultricies aliquet. Curabitur congue quam ut arcu tincidunt, nec suscipit leo eleifend. Donec a justo sed massa congue vestibulum. Maecenas vel ligula faucibus, mollis ipsum luctus, mollis nibh. Nulla facilisi. Curabitur sit amet elit leo.

Curabitur efficitur, ligula eget ultricies ornare, dui urna mollis purus, ut fermentum nisl metus id est. Praesent mauris quam, facilisis ac felis a, consectetur posuere enim. Donec leo est, tincidunt non massa quis, pulvinar congue elit. Sed nibh magna, euismod a nisl ac, condimentum pharetra ipsum. Quisque condimentum elit est, vehicula mollis augue pulvinar in. Nunc congue commodo magna, at laoreet augue bibendum eget. Donec vel odio lectus. Morbi mattis est efficitur justo vehicula ultrices.

Aliquam erat volutpat. Duis sed risus tellus. Nulla vitae mauris sed nisl volutpat fermentum. Nulla eget consectetur ligula. Proin vitae urna nec risus viverra dignissim nec at lorem. Fusce orci velit, lacinia eu viverra sit amet, bibendum in mauris. Sed aliquet risus neque, at elementum est ultrices ullamcorper. Quisque porttitor ex tellus, a pulvinar justo pretium ac. Aenean non aliquam tellus. Suspendisse scelerisque pulvinar turpis viverra ornare. Phasellus ullamcorper dui leo, lacinia lobortis purus laoreet non. Cras suscipit cursus elit vel ultrices. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    </p>
                    </div>
                   
    </div>
</div>
</div>
<div class="fx text-center"> Made By team f(x)</div>

</div>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>